@font-face {
    font-family: 'Bebas Neue';
    src: url('/static/font/BebasNeue.otf');
}

$primary-color: #2E3440;
$secondary-color: #293B3A;
$light-font: #f5f5f5;



#logo-img {
    width: 48px;
    height: 48px;
    margin-left: -9px;
    margin-top: -1px;
}

.pull-right {
    float: right;
}

.splash-container {
    position: relative;
    background: $primary-color url('/static/img/splash-macbook.jpg') fixed top center;
    height: calc(100vh - 48px);
    overflow: hidden;
    text-align: center;

    .splash-text {
        color: $light-font;
        position: absolute;
        top: 30vh;
        width: 100%;
        margin: 0;

        .splash-head {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 5em;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
        }
    }

    .splash-social-strip {
        background-color: rgba(0, 0, 0, 0.65);
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

.social-strip {
    display: inline-flex;
    a {
        margin: 25px;
    }
}

.social {
    width: 50px;
    height: 50px;
    fill: $light-font;
}

#about {
    background-color: #e6e6e6;
    padding: 50px 0;

    .about-container {
        max-width: 1200px;

        .about-head {
            font-size: 2.5em;
            font-weight: 400;
        }

        .about-subhead {
            font-size: 1.5em;
            font-weight: 300;
            text-align: justify;
        }
        
        #profile-pic {
            border: 1px solid $primary-color;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 3px rgba(0,0,0,0.26);
        }
    }
    
}

#project-spacer {
    position: relative;
    background: $primary-color url('/static/img/macbook-projects-hero.jpeg') fixed top center no-repeat;
    height: 50vh;
    overflow: hidden;
    text-align: center;
}

#contact-spacer {
    position: relative;
    background: $primary-color url('/static/img/contact-spacer.jpg') fixed top center no-repeat;
    height: 50vh;
    overflow: hidden;
    text-align: center;
}

.spacer-head {
    color: $light-font;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 5em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);
    position: relative;
    top: 35%;
}

#projects-section {
    background-color: #e6e6e6;
    padding: 50px 0;

    .projects-container {
        margin: 0 auto;
        max-width: 1200px;

        .projects-subhead {
            font-size: 1.5em;
            font-weight: 300;
            text-align: center;
            padding-bottom: 25px;
        }
    }
}

.project-card {
    text-align: center;
    margin: 40px auto;
    padding: 20px;

    .project-card-img {
        margin: 0 auto;
        max-width: 425px;
    }

    .project-card-link {
        font-size: .7em;
        color: #A0A6AB;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
    }
    
    h3 {
        font-size: 2em;
        color: #555;
        margin: 0.8em 0;
    }

    p {
        font-size: 0.9em;
    }
    
}

#contact-section {
    background-color: #fff;
    padding: 50px 0;
    padding-bottom: 0;

    .contact-container {
        margin: 0 auto;
        max-width: 1200px;

        img {
            position: relative;
            bottom: -6px;
        }

        .contact-subhead {
            font-size: 2em;
            font-weight: 300;
            text-align: center;
            padding-bottom: 25px;
            margin: auto;
        }
    }
}

footer {
    margin: 0;
}