@font-face {
  font-family: 'Bebas Neue';
  src: url("/static/font/BebasNeue.otf"); }

#logo-img {
  width: 48px;
  height: 48px;
  margin-left: -9px;
  margin-top: -1px; }

.pull-right {
  float: right; }

.splash-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center; }
  .splash-container .splash-background {
    background: #2E3440 url("/static/img/splash-macbook.jpg") no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  .splash-container .splash-text {
    color: #f5f5f5;
    position: absolute;
    top: 30vh;
    width: 100%;
    margin: 0; }
    .splash-container .splash-text .splash-head {
      font-family: 'Bebas Neue', sans-serif;
      font-size: 5em;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35); }
  .splash-container .splash-social-strip {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    bottom: 0;
    width: 100%; }

.social-strip {
  display: inline-flex; }
  .social-strip a {
    margin: 20px; }

.social {
  width: 50px;
  height: 50px;
  fill: #f5f5f5; }

#about {
  background-color: #f5f5f5;
  padding: 50px 0; }
  #about .about-container {
    max-width: 1200px; }
    #about .about-container .about-head {
      font-size: 2.5em;
      font-weight: 400; }
    #about .about-container .about-subhead {
      font-size: 1.5em;
      font-weight: 300;
      text-align: justify; }
    #about .about-container #profile-pic {
      border: 1px solid #2E3440;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 3px rgba(0, 0, 0, 0.26); }

#project-spacer {
  position: relative;
  background: #2E3440 url("/static/img/macbook-projects-hero.jpeg") no-repeat center center;
  background-size: cover;
  height: 35vh;
  overflow: hidden;
  text-align: center; }

#blog-spacer {
  position: relative;
  background: #2E3440 url("/static/img/blog-spacer.jpg") no-repeat center center;
  background-size: cover;
  height: 35vh;
  overflow: hidden;
  text-align: center; }

#contact-spacer {
  position: relative;
  background: #2E3440 url("/static/img/contact-spacer.jpg") no-repeat center center;
  background-size: cover;
  height: 35vh;
  overflow: hidden;
  text-align: center; }

.spacer-head {
  color: #f5f5f5;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 5em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.95);
  position: relative;
  top: 35%; }

#projects-section {
  background-color: #f5f5f5;
  padding: 50px 0; }
  #projects-section button, #projects-section [type="button"] {
    box-shadow: none; }
  #projects-section .slick-prev:before, #projects-section .slick-next:before, #projects-section .slick-prev:after, #projects-section .slick-next:after {
    font-size: 40px;
    color: #2E3440; }
  #projects-section .slick-prev {
    left: -45px; }
  #projects-section .projects-container {
    margin: 0 auto;
    max-width: 80%;
    min-height: 0;
    min-width: 0; }
    #projects-section .projects-container .projects-subhead {
      font-size: 1.5em;
      font-weight: 300;
      text-align: center;
      padding-bottom: 25px; }
    #projects-section .projects-container .slider-container {
      max-width: 900px;
      margin: 0 auto; }

.project-card {
  text-align: center; }
  .project-card .project-card-container {
    margin: auto 25px; }
  .project-card .project-card-img {
    margin: 0 auto;
    max-width: 425px; }
  .project-card .project-card-link {
    font-size: .7em;
    color: #A0A6AB;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none; }
  .project-card h3 {
    font-size: 2em;
    color: #555;
    margin: 0.8em 0; }
  .project-card p {
    font-size: 0.9em; }

.loading {
  width: 100%;
  text-align: center; }
  .loading .spinner-donut {
    margin: 0 auto; }

#blog-section {
  background-color: #f5f5f5;
  padding: 50px 0; }
  #blog-section .blog-subhead {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    padding-bottom: 25px; }
  #blog-section .post-content {
    margin: 0 auto;
    max-width: 800px; }
    #blog-section .post-content .post-title {
      font-size: 2.5em;
      font-weight: 400;
      text-align: center; }
    #blog-section .post-content .post-date {
      color: #2E3440;
      text-align: center;
      font-size: 0.75em;
      margin-bottom: 1.5em; }
    #blog-section .post-content .post-image-container {
      overflow: hidden;
      max-height: 200px;
      margin: 0 auto; }
      #blog-section .post-content .post-image-container .post-image {
        position: relative;
        margin-top: -10%; }
    #blog-section .post-content .post-excerpt {
      margin: 2em 0;
      text-align: justify;
      font-size: 1.25em; }

#contact-section {
  background-color: #fff;
  padding: 50px 0;
  padding-bottom: 0; }
  #contact-section .contact-container {
    margin: 0 auto;
    max-width: 1200px; }
    #contact-section .contact-container img {
      position: relative;
      bottom: -6px; }
    #contact-section .contact-container .contact-subhead {
      font-size: 2em;
      font-weight: 300;
      text-align: center;
      padding-bottom: 25px;
      margin: auto; }

footer {
  margin: 0 auto;
  text-align: center; }
  footer p {
    color: #A0A6AB; }
  footer .social {
    width: 30px;
    height: 30px; }
